@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (max-width: 319px) {
  section {
    display: none;
  }
}
.header {
  padding: 20px 0;
  background-color: rgba(0, 128, 0, 0.139);
  margin-bottom: 30px;
}

.header__nav {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header___content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.logo {
  border-radius: 50%;
}

.header__link {
  color: lab(38.4988% -58.7734 74.4224);
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  font-family: "Oswald", sans-serif;
}
.header__link:hover {
  color: lab(36.92% -34.79 14.1 / 0.897);
}

.header__profile-btn {
  border-radius: 20%;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.header__profile-btn:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  /* полностью прозрачна */
  visibility: hidden;
  /* невидима */
  pointer-events: none;
  /* нельзя кликать по закрытой модалке */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal:target {
  opacity: 1;
  /* видима */
  visibility: visible;
  /* кликабельна */
  pointer-events: auto;
}

.modal__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  position: relative;
  text-align: center;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal:target .modal__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.modal__link {
  color: #000;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.modal__link:hover {
  color: lab(38.4988% -58.7734 74.4224);
}

.modal__sup {
  color: #d97d04;
  font-size: 10px;
  font-weight: 600;
}

@media only screen and (min-width: 320px) {
  .header__nav {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .header__nav {
    display: block;
    gap: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (max-width: 319px) {
  .header {
    display: none;
  }
}
.hero__title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 30px;
}

.hero__title--span {
  color: lab(38.4988% -58.7734 74.4224);
}

.hero__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__schedule-title {
  text-align: center;
  padding-bottom: 20px;
}

.classes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.classes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  background-color: rgb(218, 218, 218);
  -webkit-box-shadow: 14px 20px 42px -16px rgba(34, 60, 80, 0.2);
  box-shadow: 14px 20px 42px -16px rgba(34, 60, 80, 0.2);
  color: lab(98.62% 0.01 -0.01);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.classes__item:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.classes__item:nth-child(2n+1) {
  background: #22C1C3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(4%, rgb(34, 193, 195)), color-stop(62%, rgb(0, 153, 0)));
  background: linear-gradient(0deg, rgb(34, 193, 195) 4%, rgb(0, 153, 0) 62%);
}

.classes__item:nth-child(2n) {
  background: #2A7B9B;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgb(42, 123, 155)), color-stop(53%, rgb(87, 199, 133)));
  background: linear-gradient(90deg, rgb(42, 123, 155) 8%, rgb(87, 199, 133) 53%);
}

.classes__link {
  color: lab(98.62% 0.01 -0.01);
  font-size: 30px;
  padding: 35px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}

.error__span {
  display: none;
}

.error__icont {
  color: rgb(239, 8, 8);
  display: none;
}

@media only screen and (min-width: 320px) {
  .hero__title {
    font-size: 23px;
  }
  .hero__schedule-title {
    font-size: 19px;
  }
}
@media only screen and (min-width: 600px) {
  .hero__title {
    font-size: 30px;
  }
  .hero__schedule-title {
    font-size: 25px;
  }
}
@media only screen and (max-width: 319px) {
  .error__span {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px;
  }
  .error__icont {
    color: rgb(239, 8, 8);
    display: block;
  }
  .hero {
    display: none;
  }
}
.footer {
  padding: 20px 0;
  background-color: rgba(0, 128, 0, 0.139);
}

.footer__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: lab(38.4988% -58.7734 74.4224);
  padding-bottom: 10px;
  max-width: 133px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer__logo {
  border-radius: 50%;
}

.footer__description {
  padding-bottom: 20px;
}

.footer__nav {
  display: none;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-size: 13px;
}

.footer__social--facebook {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.footer__social--facebook:hover {
  color: #090cc3;
}

.footer__social--instagram {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.footer__social--instagram:hover {
  color: #d406b9;
}

.footer__social--youtube {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.footer__social--youtube:hover {
  color: #d90a1f;
}

.footer__social--twitter {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.footer__social--twitter:hover {
  color: #095af1;
}

.footer__link--icon {
  color: #ffffff;
}

@media only screen and (min-width: 320px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding: 5px 0;
    left: 0;
    background-color: rgba(0, 128, 0, 0.442);
    right: 0;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-radius: 7px 7px 0 0;
    max-width: 1200px;
    min-width: 285px;
    width: 100%;
    gap: 50px;
  }
  .footer__link {
    color: lab(100% 0.01 -0.01);
    text-decoration: none;
    font-size: 18px;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    font-family: "Oswald", sans-serif;
  }
}
@media only screen and (min-width: 600px) {
  .footer__nav {
    display: none;
  }
}
@media only screen and (max-width: 319px) {
  .footer {
    display: none;
  }
}
.login {
  background: lab(38.4988% -58.7734 74.4224);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__content {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  width: 100%;
  padding: 25px;
  border-radius: 15px;
}

.login__title {
  padding-bottom: 20px;
  color: lab(38.4988% -58.7734 74.4224);
}

.login__span {
  color: #000;
  font-weight: 400;
}

.login__description {
  text-align: justify;
  padding-bottom: 30px;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid lab(38.4988% -58.7734 74.4224);
  max-width: 250px;
  width: 100%;
  min-width: 200px;
  padding: 8px 5px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.login__user {
  border: none;
  max-width: 226px;
  width: 100%;
  outline: none;
}
.login__user::-webkit-input-placeholder {
  color: lab(38.4988% -58.7734 74.4224);
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.login__user::-moz-placeholder {
  color: lab(38.4988% -58.7734 74.4224);
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.login__user:-ms-input-placeholder {
  color: lab(38.4988% -58.7734 74.4224);
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.login__user::-ms-input-placeholder {
  color: lab(38.4988% -58.7734 74.4224);
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.login__user::placeholder {
  color: lab(38.4988% -58.7734 74.4224);
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}

.login__user__icont {
  color: #000;
}

.login__password {
  border: none;
  max-width: 226px;
  width: 100%;
  outline: none;
}
.login__password::-webkit-input-placeholder {
  color: lab(38.4988% -58.7734 74.4224);
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.login__password::-moz-placeholder {
  color: lab(38.4988% -58.7734 74.4224);
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.login__password:-ms-input-placeholder {
  color: lab(38.4988% -58.7734 74.4224);
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.login__password::-ms-input-placeholder {
  color: lab(38.4988% -58.7734 74.4224);
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}
.login__password::placeholder {
  color: lab(38.4988% -58.7734 74.4224);
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}

.login__password__icont {
  color: #000;
  cursor: pointer;
}

.login__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 15px;
  max-width: 250px;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 5px 0;
  background: lab(38.4988% -58.7734 74.4224);
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.login__button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background: #fff;
  border: 3px solid lab(38.4988% -58.7734 74.4224);
  color: lab(38.4988% -58.7734 74.4224);
}

.hero__class {
  text-align: center;
  color: lab(38.4988% -58.7734 74.4224);
  padding-bottom: 30px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__content--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 10px;
  max-width: 1440px;
  width: 100%;
  padding-bottom: 35px;
  margin-bottom: 20px;
  padding: 20px 10px;
  border-radius: 20px;
  background: lab(39.47% -46.09 44.48 / 0.037);
}
.hero__content--ul::-webkit-scrollbar {
  overflow: hidden;
}

.hero__list {
  list-style: none;
  max-width: 300px;
  border-radius: 20px;
  padding: 20px;
  min-width: 300px;
  border: none;
  width: 100%;
  max-width: 600px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: lab(39.47% -46.09 44.48 / 0.15);
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.hero__text {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}

.hero__lesson-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.hero__lesson-number {
  font-size: 15px;
}

.hero__class {
  text-align: center;
  color: lab(38.4988% -58.7734 74.4224);
  padding-bottom: 0;
}

.hero__list {
  list-style: none;
  border: 1px solid lab(38.4988% -58.7734 74.4224);
  max-width: 300px;
  border-radius: 20px;
  padding: 20px;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.hero__text {
  text-align: center;
  font-size: 20px;
}

.hero__lesson-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-bottom: 8px;
}

.hero__lesson-number {
  font-size: 15px;
  font-weight: 300px;
}

.hero__teacher {
  font-size: 12px;
}

.hero__teacher {
  font-size: 12px;
}

.container--assessments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.attendance-table__head {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
}

.attendance-table__row {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(25, 105, 0, 0.1921568627);
}

.attendance-table {
  max-width: 800px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.attendance-table__cell {
  text-align: center;
  padding: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.attendance-table__cell--minus {
  background: #ff0404;
  padding: 3px;
}

.attendance-table__cell--plus {
  background: #0dc000;
  padding: 3px;
}

.assessments__title {
  font-size: 40px;
  text-align: center;
}

.assesssments__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.assessments__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  max-width: 567px;
  width: 100%;
}

@media (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead {
    display: none;
  }
  tr {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 0;
  }
  .assessments__img {
    display: none;
  }
}
.subcourses {
  padding-bottom: 20px;
}

.subcourses__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subcourses__title {
  font-size: 40px;
  font-weight: 700;
}

.subcourses__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subcourses__text {
  padding-bottom: 25px;
  max-width: 700px;
  font-size: 20px;
}

.subcourses__image {
  border-radius: 30px;
  max-width: 450px;
  min-width: 285px;
  width: 100%;
  max-height: 450px;
  height: 100%;
  min-height: 285px;
}

.course-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  text-align: end;
  padding-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course-card__image {
  border-radius: 30px;
  max-width: 450px;
  width: 100%;
  min-width: 285px;
  max-height: 450px;
  height: 100%;
  min-height: 285px;
}

.course-card__description {
  padding-bottom: 25px;
  font-size: 16px;
  max-width: 700px;
}

.course-card__icon {
  color: #9a9292;
}

.subcourses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subcourses__item {
  max-width: 450px;
  width: 100%;
}

@media only screen and (min-width: 320px) {
  .subcourses__text {
    padding-bottom: 25px;
    font-size: 15px;
  }
  .course-card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    text-align: start;
    padding-bottom: 30px;
  }
  .course-card__details {
    font-size: 15px;
  }
}
@media only screen and (min-width: 500px) {
  .subcourses__text {
    padding-bottom: 25px;
    font-size: 20px;
  }
  .course-card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    text-align: start;
    padding-bottom: 50px;
  }
  .course-card__details {
    font-size: 20px;
  }
}
@media only screen and (min-width: 800px) {
  .subcourses__text {
    padding-bottom: 25px;
    font-size: 20px;
  }
  .subcourses__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .course-card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 20px;
    text-align: end;
    padding-bottom: 50px;
  }
  .course-card__details {
    font-size: 20px;
  }
  .course-card__image {
    width: 100%;
    height: 100%;
  }
}
.commit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.commit__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  padding: 20px;
  background-color: rgba(0, 128, 0, 0.139);
  width: 100%;
  border-radius: 15px;
  min-width: 285px;
}

.commit__text {
  text-align: center;
}

.commit__title--span {
  font-weight: 400;
}

.commit__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commit__span {
  font-family: "Oswald", sans-serif;
  padding: 10px 0;
}

.commit__select {
  max-width: 200px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(58, 159, 30, 0.1960784314);
  border: none;
  outline: none;
}

.sommit__option {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.commit__textarea {
  max-width: 500px;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(58, 159, 30, 0.1960784314);
  border: none;
  outline: none;
  resize: vertical;
  margin-bottom: 20px;
}
.commit__textarea::-webkit-input-placeholder {
  padding-left: 5px;
  font-size: 16px;
}
.commit__textarea::-moz-placeholder {
  padding-left: 5px;
  font-size: 16px;
}
.commit__textarea:-ms-input-placeholder {
  padding-left: 5px;
  font-size: 16px;
}
.commit__textarea::-ms-input-placeholder {
  padding-left: 5px;
  font-size: 16px;
}
.commit__textarea::placeholder {
  padding-left: 5px;
  font-size: 16px;
}

.commit__btn {
  max-width: 200px;
  width: 100%;
  padding: 5px 0;
  border-radius: 10px;
  border: none;
  font-family: "Oswald", sans-serif;
  background-color: rgba(58, 159, 30, 0.1960784314);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}
.commit__btn:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background-color: transparent;
  font-size: 16px;
  border: 4px solid rgba(58, 159, 30, 0.1960784314);
  color: #000;
}/*# sourceMappingURL=main.css.map */