.container--assessments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;

}

.attendance-table__head {
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
}

.attendance-table__row {
  text-align: center;
  align-items: center;
  flex-wrap: wrap;

  background: #19690031;
}

.attendance-table {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

// .attendance-table__row--header {}

.attendance-table__cell {
  text-align: center;
  padding: 3px;
  user-select: none;
}

.attendance-table__cell--minus {
  background: #ff0404;
  padding: 3px;
}

.attendance-table__cell--plus {
  background: #0dc000;
  padding: 3px;
}


.assessments__title {
  font-size: 40px;
  text-align: center;
}

.assesssments__wraper {
  display: flex;
  ;
  flex-wrap: wrap;
  gap: 50px;
}

.assessments__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  max-width: 567px;
  width: 100%;
}

@media (max-width: 600px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
.assessments__img{
  display: none;
}
}