.header {
    padding: 20px 0;
    background-color: rgba(0, 128, 0, 0.139);
    margin-bottom: 30px;
}

.header__nav {
    gap: 50px;
    display: flex;
}

.header___content {
    display: flex;
    justify-content: space-between;
    transition: 0.7s;
}

.logo {
    border-radius: 50%;
}

.header__link {
    color: lab(38.4988% -58.7734 74.4224);
    text-decoration: none;
    font-size: 20px;
    transition: 0.7s;
    font-family: "Oswald", sans-serif;

    &:hover {
        color: lab(36.92% -34.79 14.1 / 0.897);
    }
}

.header__profile-btn {
    border-radius: 20%;
    border: none;
    cursor: pointer;
    transition: 0.7s;

    &:hover {
        transform: scale(1.08);
    }

}



.modal {

    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);

    opacity: 0;
    /* полностью прозрачна */
    visibility: hidden;
    /* невидима */
    pointer-events: none;
    /* нельзя кликать по закрытой модалке */

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal:target {
    opacity: 1;
    /* видима */
    visibility: visible;
    /* кликабельна */
    pointer-events: auto;
}



.modal__contant {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    position: relative;
    text-align: center;
    transform: translateY(-20px);
    transition: 0.3s;
}

.modal:target .modal__content {
    transform: translateY(0);
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.modal__link {
    color: #000;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    transition: 0.7s;

    &:hover {
        color: lab(38.4988% -58.7734 74.4224);
    }
}




.modal__sup {
    color: #d97d04;
    font-size: 10px;
    font-weight: 600;
}

@media only screen and (min-width:320px) {
    .header__nav {
        display: none;
    }
}

@media only screen and (min-width:600px) {
    .header__nav {
        display: block;
        gap: 50px;
        display: flex;
    }
}

@media only screen and (max-width:319px) {
    .header {
        display: none;
    }
}