.subcourses {
    padding-bottom: 20px;
}

.subcourses__content {
    display: flex;
    flex-direction: column;

}

.subcourses__title {
    font-size: 40px;
    font-weight: 700;
}

.subcourses__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap
}



.subcourses__text {
    padding-bottom: 25px;
    max-width: 700px;
    font-size: 20px;
}



.subcourses__image {
    border-radius: 30px;
    max-width: 450px;
    min-width: 285px;
     width: 100%;
    max-height: 450px;
    height: 100%;
    min-height: 285px;
}

// .courses {}



.course-card__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: end;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.course-card__image {
    border-radius: 30px;
    max-width: 450px;
    width: 100%;
    min-width: 285px;
    max-height: 450px;
    height: 100%;
    min-height: 285px;
}

// .course-card__details {}

// .course-card__name {}

.course-card__description {
    padding-bottom: 25px;
    font-size: 16px;
    max-width: 700px;
}

// .course-card__link {}

.course-card__icon {
    color: #9a9292;
}

@media only screen and (min-width:320px) {

    .subcourses__text {
        padding-bottom: 25px;
        font-size: 15px;
    }

    .course-card__content {
        display: flex;
        gap: 20px;
        text-align: start;
        padding-bottom: 30px;
    }

    .course-card__details {
        font-size: 15px;
    }

}

@media only screen and (min-width:500px) {
    .subcourses__text {
        padding-bottom: 25px;
        font-size: 20px;
    }

    .course-card__content {
        display: flex;
        gap: 20px;
        text-align: start;
        padding-bottom: 50px;
    }

    .course-card__details {
        font-size: 20px;
    }
}

@media only screen and (min-width:800px)
{
    .subcourses__text {
        padding-bottom: 25px;
        font-size: 20px;
    }
    .subcourses__wrapper{
        flex-wrap: nowrap;
    }

    .course-card__content {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        text-align: end;
        padding-bottom: 50px;
    }

    .course-card__details {
        font-size: 20px;
    }
    .course-card__image{
        width: 100%;
        height: 100%;
    }
}
